.card {
  background-color: rgba(158, 151, 151, 0.678);
  border: 2px solid #eee;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  max-width: 140px;
  text-align: center;
  transition: all 0.3s ease;
  margin-left: -20px;
}

.card img {
  width: 100%;
  max-width: 100px;
}

.card p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .card p {
    font-size: 0.9rem;
  }
}