.card {
  background-color: #ddd;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  max-width: 160px;
  text-align: center;
  margin: 10px auto;
}

.card img {
  width: 100%;
  max-width: 100px;
}

.card p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .card p {
    font-size: 0.9rem;
  }
}